*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/cabinet-release/build/.transforms/
/app/release/app-release.apk
/app/release_landscape/app-release_landscape.apk
/app/release_landscape/output-metadata.json
